
/* =============   Common	============= */
body {
  font-family: 'Roboto', sans-serif !important;
  color: #455a64;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  overflow-x: hidden;
  background-color: #f3f5f7;
  height: 100%;
  position: relative; }

a {
  text-decoration: none;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #5867dd; }
  a:hover, a:focus {
    text-decoration: none;
    outline: 0 !important; }
  a.text-muted:hover {
    color: #5867dd; }
  a blockquote {
    color: #666; }

blockquote {
  font-style: italic; }

hr {
  margin-top: 15px;
  margin-bottom: 15px; }

button:focus {
  outline: 0 !important; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  font-weight: 400; }

.h5 {
  font-size: 14px; }

label {
  font-weight: 400; }

strong, b {
  font-weight: 500 !important; }

.main-content.container {
  padding: 0px;
  width: auto; }

.main-content.container {
  min-height: 100vh;
  padding: 10px 30px;
  position: relative;
  margin-left: 240px;
  -moz-transition: margin-left 0.3s;
  -o-transition: margin-left 0.3s;
  -webkit-transition: margin-left 0.3s;
  transition: margin-left 0.3s; }

.demo-grid-block {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0;
  color: #777;
  margin-bottom: 15px;
  padding: 15px;
  text-align: center; }

/* =============   Menu  ============= */
.main-sidebar-nav {
  position: fixed;
  left: 0;
  top: 0px;
  width: 240px;
  height: 100%;
  -moz-transition: margin-left 0.3s;
  -o-transition: margin-left 0.3s;
  -webkit-transition: margin-left 0.3s;
  transition: margin-left 0.3s;
  background: #272727;
  z-index: 99; 
}

.nav-profile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.nav-profile img {
  border-radius: 50%;
} 
.nav-profile .name {
    color: #fff;
    display: inline-block;
    padding-left: 20px;
}
.nav-item a.nav-link{
  color: #fff;
  padding: 12px 10px 12px 40px;
}
 li.nav-item a:hover, li.nav-item a:active, li.nav-item a:focus {
  color: #fff;
  background: #337ab7 !important;
}
.page-heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 10px;
  margin: 0;
}
.page-heading :last-child {
  margin-left: auto;
}
.page-heading h2 {
  margin: 5px 10px;
  font-size: 25px;
  font-weight: 700;
}
.btn.btn-rounded {
  border-radius: 20px;
  margin: 0 10px;
  line-height: 1;
  height: 34px;
  padding: 10px 20px;
}
form {
  position: relative;
}
.form-control.search-form {
  border-radius: 20px;
  color: #337ab7;
  border-color: #337ab7;
  padding: 14px 20px;
  line-height: 1;
}

.options {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
}
.form-control.search-options {
  width: 180px;
  margin-right: 8px;
}
.form-control.search-orders {
  width: 120px;
  margin-right: 8px;
}
.options select {
  margin-right: 8px;
}
.state-select, .date-select {
    width: 100px;
}
.search-btn {
  background: transparent;
  border: none;
  outline: none;
  position: absolute;
  top:5px;
  right: 10px;
}

.fa-search {
  color: #337ab7;
}
th {
  color: rgb(84,98,111);
}
.page-heading h2 {
  margin: 5px 10px;
  font-size: 25px;
  font-weight: 700;
}
.btn.btn-rounded {
  border-radius: 20px;
  margin: 0 10px;
  line-height: 1;
  height: 34px;
  padding: 10px 20px;
  background: rgb(34,112,255);
}
form {
  position: relative;
}
.form-control.search-form {
  border-radius: 20px;
  color: #337ab7;
  border-color: #337ab7;
  padding: 14px 20px;
  line-height: 1;
}
.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}
.main-modal.modal-dialog {
  width: 800px;
}
.container {
  width: 100%;
}
span.close {
  position: absolute;
  top: 27px;
  right: 30px;
  font-size: 14px;
  color: #000000;
}

.block .btn-toolbar .btn-group, .sum-group{
  width: 300px;
  height: auto;
  margin: 0;
}
.half {
  width: 50%;
}
.tt {
  width: 33.3%;
}
#sum {
  width: 70%;
}
#currency {
  width: 30%;
}

.block button.btn.btn-primary, .btn-default.active {
  background: rgb(34,112,255) !important;
  color: #fff !important;
}
.main-form {
  margin-bottom: 15px;
}
.main-form span {
  font-size: 12px;
}
.main-form .form-control {
  width: 60%;
  display: inline-block;
}
.main-form .form-control#sum {
  width: 54%;
}
.main-form label, .comment-form label {
  font-size: 12px;
  color: rgb(84,98,111);
  display: block;
}
.main-form .form-group {
  margin-bottom: 0;
}
.main-form .btn-group {
  margin-left: 10px;
}
.modal-footer.footer-modal {
  text-align: center;
  border: none;
}
.client-tag {
  padding-bottom: 20px;
}
.client-tag #formInlineName {
  width: 100px;
}
.client-tag .control-label {
  display: inline-block;
  margin-right: 7px;
}
.comment-form {
  width: 100%;
  height: 200px;
  margin-top: 60px;
}
.comment-form textarea.form-control {
  height: 100%;
}
.btn-toolbar {
  display: inline-block;

}
.btn-toolbar .btn-group, .input-group {
  display: inline-block;
  height: 34px;
  padding: 15px 12px;
}


.row.row-broken {
  padding-bottom: 0;
}
.col-inside-lg {
  padding: 20px;
}
.chat {
  height: calc(100vh - 180px);
}
.decor-default {
  background-color: #ffffff;
}
.chat-list h6 {
  font-size: 20px;
  margin: 0 0 20px;
}
.chat-list .list-item {
  position: relative;
  padding: 0 0 0 50px;
  display: block;
  cursor: pointer;
  margin: 0 0 20px;
}

.chat-list .list-item .number {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.chat-list .list-item  .desc {
  font: 200 14px/20px "Raleway", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*****************CHAT BODY *******************/
.chat-body h6 {
  font-size: 20px;
  margin: 0 0 20px;
}
.chat-body .answer.left {
  padding: 0 0 0 58px;
  text-align: left;
  float: left;
}
.chat-body .answer {
  position: relative;
  max-width: 600px;
  overflow: hidden;
  clear: both;
}
.chat-body .answer.left .avatar {
  left: 0;
}
.chat-body .answer .avatar {
  bottom: 36px;
}
.chat .avatar {
  width: 40px;
  height: 40px;
  position: absolute;
}
.chat .avatar img {
  display: block;
  border-radius: 20px;
  height: 100%;
}
.chat-body .answer .name {
  font-size: 14px;
  line-height: 36px;
}
.chat-body .answer.left .avatar .status {
  right: 4px;
}
.chat-body .answer .avatar .status {
  bottom: 0;
}
.chat-body .answer.left .text {
  background: #ebebeb;
  color: #333333;
  border-radius: 8px 8px 8px 0;
}
.chat-body .answer .text {
  padding: 12px;
  font-size: 16px;
  line-height: 26px;
  position: relative;
}
.chat-body .answer.left .text:before {
  left: -30px;
  border-right-color: #ebebeb;
  border-right-width: 12px;
}
.chat-body .answer .text:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  border: 18px solid transparent;
  border-bottom-width: 0;
}
.chat-body .answer.left .time {
  padding-left: 12px;
  color: #333333;
}
.chat-body .answer .time {
  font-size: 16px;
  line-height: 36px;
  position: relative;
  padding-bottom: 1px;
}
/*RIGHT*/
.chat-body .answer.right {
  padding: 0 58px 0 0;
  text-align: right;
  float: right;
}

.chat-body .answer.right .avatar {
  right: 0;
}
.chat-body .answer.right .avatar .status {
  left: 4px;
}
.chat-body .answer.right .text {
  background: #7266ba;
  color: #ffffff;
  border-radius: 8px 8px 0 8px;
}
.chat-body .answer.right .text:before {
  right: -30px;
  border-left-color: #7266ba;
  border-left-width: 12px;
}
.chat-body .answer.right .time {
  padding-right: 12px;
  color: #333333;
}

/**************ADD FORM ***************/
.chat-body .answer-add {
  clear: both;
  position: relative;
  margin: 20px -20px -20px;
  padding: 20px;
  background: #46be8a;
}
.chat-body .answer-add input {
  border: none;
  background: none;
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  color: #ffffff;
}
.chat input {
  -webkit-appearance: none;
  border-radius: 0;
}
.chat-body .answer-add .answer-btn-1 {
  background: url("http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/icon-40.png") 50% 50% no-repeat;
  right: 56px;
}
.chat-body .answer-add .answer-btn {
  display: block;
  cursor: pointer;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 50%;
  margin-top: -18px;
}
.chat-body .answer-add .answer-btn-2 {
  background: url("http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/icon-41.png") 50% 50% no-repeat;
  right: 20px;
}
.chat input::-webkit-input-placeholder {
  color: #fff;
}

.chat input:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

.chat input::-moz-placeholder {  /* Firefox 19+ */
  color: #fff;
}

.chat input:-ms-input-placeholder {
  color: #fff;
}
.chat input {
  -webkit-appearance: none;
  border-radius: 0;
}